<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="images/noBGLogo.png">
        <title>iHype - <%= title %></title>
        <% include ./includes/javascript %>
        <% include ./includes/stylesheet %>
        <link rel="stylesheet" href="css/policies.css">
    </head>
    <body>
        <% include ./includes/header %>

        <div class="container content">
            <div>
                <a href="/" class="faded">Home</a>&nbsp;
                <span class="glyphicon glyphicon-menu-right"></span>
                &nbsp;<b>Terms & Conditions</b>
            </div>
            <h1>Terms & Conditions</h1>
            <hr>
            <h4>PRIVACY</h4>
            <p>iHype collects information about the Users of its web sites. Collection of this information is governed by the iHype Online Privacy Policy.</p>
            <h4>USER CONDUCT</h4>
            <p>Users agree that all the information posted or accessed will be used only for informational or educational purposes. There may be no commercial or other unauthorized use of any interactive features available on this web site. Users may not engage in any conduct or action that is prohibited by law or violates any federal, state or local laws.</p>
            <h4>CORPORATE IDENTIFICATION AND TRADEMARKS</h4>
            <p>All registered and/or unregistered trademarks and/or service marks (collectively, "Marks") used or referred to on this web site are the property of iHype, unless otherwise noted. Users may not use, copy, reproduce, republish, upload, post, transmit, distribute or modify these Marks in any way without iHype 's prior written permission. The use of iHype's Marks on any other web site is prohibited.</p>
            <h4>PROPRIETARY RIGHTS TO CONTENT</h4>
            <p>All materials contained on this web site are copyrighted by iHype except where explicitly noted otherwise. </p>
            <p>User acknowledges and agrees that content, including but not limited to text, software, music, sound, photographs, video, design, graphics, movie trailers, film clips or other material contained in this web site ("Content") is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. User understands and agrees that User may not copy, reproduce, republish, distribute, modify or create derivative works from this Content or otherwise use, transmit, upload, rebroadcast or publish in any form this Content other than as expressly authorized by this Agreement without iHype 's prior, written consent. </p>
            <h4>DISCLAIMER OF WARRANTIES</h4>
            <p>While every effort is made to ensure accuracy, iHype makes no warranty that this web site will meet your requirements or that it will be uninterrupted, timely, secure or error free; nor does iHype make any warranty as to the results that may be obtained from the use of this web site or as to the accuracy or reliability of any information obtained through this web site. User understands and agrees that any content downloaded or otherwise obtained through the use of this web site is done at user's own risk and that user will be solely responsible for any damage done to user's computer system or loss of data that results from the download of such content.</p>
            <p>Unless expressly stated otherwise, iHype provides this site content "as is" and without warranties of any kind, either express or implied, to the fullest extent allowable by law. This includes the implied warranties of merchantability, noninfringement of intellectual property, and fitness for a particular purpose. In no event shall iHype or its suppliers be liable for any damages whatsoever (including, without limitation, damages for loss of profits, business interruption or loss of information) arising out of the use or inability to use the site content, even if iHype has been advised of the possibility of such damages.</p>
            <br/>
            <p><b>NOTE</b>: Some jurisdictions may not allow the exclusion or limitation of certain warranties, so the above exclusions may not apply to you.</p>
            <h4>INDEMNIFICATION</h4>
            <p>User agrees, at User's expense, to indemnify, defend and hold harmless iHype, its officers, directors, employees, agents, affiliates, distributors and licensees from and against any judgment, losses, deficiencies, damages, liabilities, costs and expenses (including reasonable attorneys' fees and expenses) incurred in connection with any claim, demand, suit, action or proceeding arising out of User's breach of this Agreement or in connection with User's use of this web site or any product or service related thereto. </p>
            <h4>RESERVATION OF RIGHTS</h4>
            <p>Any rights not expressly granted herein are reserved.</p>
        </div>

        <% include ./includes/footer %>
    </body>
</html>