<link rel="stylesheet" href="css/footer.css">

<div class="main-footer">
    <div class="container footTop">
        <div class="row">

            <div class="col-md-3">
                <ul>
                    <li><strong>Information</strong></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">FAQs</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">About us at iHype</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;39 Artillery Avenue, Sentosa<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Singapore 099958</li>
                    <br/>
                    <li><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+65 6823 9999</li>
                    <br/>
                    <li><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;+65 6448 9999</li>
                    <br/>
                    <li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a class="ourEmail" href="mailto:contactus@iHype.com.sg">contactus@iHype.com.sg</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <ul>
                    <li><strong>Site Map</strong></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Clothes</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Watches</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Bags & Wallets</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Accessories</a></li>
                    <br/>
                    <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Footwear</a></li>
                    <br/><br/><br/>
                </ul>
            </div>

            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Policies</strong></li>
                            <br/>
                            <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Terms & Conditions</a></li>
                            <br/>
                            <li><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a href="#">Privacy</a></li>
                            <br/><br/>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Follow iHype</strong></li>
                            <br/>
                            <a href="https://www.facebook.com/"><img class="SocialSocial" src="images/Facebook.png"></a>&nbsp;&nbsp;&nbsp;
                            <a href="https://www.instagram.com/"><img class="SocialSocial" src="images/Instagram.png"></a>&nbsp;&nbsp;&nbsp;
                            <a href="https://twitter.com/"><img class="SocialSocial" src="images/Twitter.png"></a>
                        </ul>
                    </div>
                </div>
                
                <div class="row paymentMethodContainer">
                    <div class="col-md-12">
                        <ul>
                            <li><strong>Payment Methods</strong></li>
                            <img class="PayPay" src="images/Nets.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img class="PayPay" src="images/Paypal.png">&nbsp;&nbsp;&nbsp;
                            <img class="PayPay" src="images/Visa.png">&nbsp;&nbsp;&nbsp;
                            <img class="PayPay" src="images/MasterCard.png">&nbsp;&nbsp;&nbsp;
                            <img class="PayPay" src="images/AmericanExpress.png">
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="container footBottom">
        <p id="copyright">Copyright © 2018 iHype.com.sg. All rights reserved.</p>
    </div>
</div>