<link rel="stylesheet" href="css/header.css">
<link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline" rel="stylesheet">

<nav class="navbar">

  <span id="navbar-toggle">
    <i class="fa fa-bars"></i>
  </span>
  <div class="container logoContainer">
    <a id="logoAtag" href="/">
      <img id="logo" src="images/iHype.png">
    </a>
  </div>
  

  <ul id="main-nav">



    <li class="dropdown">
      <a class="nav-links menCate" data-toggle="dropdown" data-target="">Men
        <span class="caret"></span>
      </a>
      <div id="menCate" class="dropdown-menu">
        <div class="leftCate">
          <p><b>By Category</b></p>
          <hr>
          <ul>
            <li><a class="categories" href="#">All</a></li>
            <li><a class="categories" href="#">Clothing</a></li>
            <li><a class="categories" href="#">Bags</a></li>
            <li><a class="categories" href="#">Accessories</a></li>
            <li><a class="categories" href="#">Watches</a></li>
            <li><a class="categories" href="#">Shoes</a></li>
          </ul>
        </div>
        <div class="rightCate">
          <p><b>By Designer</b></p>
          <hr>
          <ul>
            <li><a class="categories" href="#">All</a></li>
            <li><a class="categories" href="#">Clothing</a></li>
            <li><a class="categories" href="#">Bags</a></li>
            <li><a class="categories" href="#">Accessories</a></li>
            <li><a class="categories" href="#">Watches</a></li>
            <li><a class="categories" href="#">Shoes</a></li>
          </ul>
        </div>
      </div>
    </li>
    
    <li class="dropdown">
      <a class="nav-links womenCate" data-toggle="dropdown" data-target="">Women
        <span class="caret"></span>
      </a>
      <div id="womenCate" class="dropdown-menu">
        <div class="leftCate">
          <p><b>By Category</b></p>
          <hr>
          <ul>
            <li><a class="categories" href="#">All</a></li>
            <li><a class="categories" href="#">Clothing</a></li>
            <li><a class="categories" href="#">Dresses</a></li>
            <li><a class="categories" href="#">Bags</a></li>
            <li><a class="categories" href="#">Accessories</a></li>
            <li><a class="categories" href="#">Jewellery</a></li>
            <li><a class="categories" href="#">Shoes</a></li>
          </ul>
        </div>
        <div class="rightCate">
          <p><b>By Designer</b></p>
          <hr>
          <ul>
            <li><a class="categories" href="#">All</a></li>
            <li><a class="categories" href="#">Clothing</a></li>
            <li><a class="categories" href="#">Dresses</a></li>
            <li><a class="categories" href="#">Bags</a></li>
            <li><a class="categories" href="#">Accessories</a></li>
            <li><a class="categories" href="#">Jewellery</a></li>
            <li><a class="categories" href="#">Shoes</a></li>
          </ul>
        </div>
      </div>
    </li>

    <div class="loggerContainer">
      <a href="/login" id="login">Log In</a>
    </div>
  </ul>
  
  <img id="logoPic" src="images/noBGLogo.png">

</nav>

<script src="js/header.js"></script>